<launch>
<param name="robot_description" textfile="$(find asr_mild_kinematic_chain)/robot_description/mild.urdf" /> 
  
<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
   <param name="publish_frequency" value="15"/>
</node>

<node name="asr_mild_base_fake_driving" pkg="asr_mild_base_fake_driving" type="asr_mild_base_fake_driving" required="true"/>

<node   name="move_base" pkg="asr_move_base" type="move_base" respawn="false"  output="screen">
        <param name="controller_frequency" value="3.0"/>
        <param name="planner_frequency" value="3"/>
        <param name="base_global_planner" value="asr_navfn/NavfnROS"/>
        <param name="base_local_planner" value="ftc_local_planner/FTCPlanner" />
        <rosparam file="$(find asr_mild_navigation)/param/simulation/costmap_common_params.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find asr_mild_navigation)/param/simulation/costmap_common_params.yaml" command="load" ns="local_costmap"/>
        <rosparam file="$(find asr_mild_navigation)/param/simulation/global_costmap_params.yaml" command="load"/>
        <rosparam file="$(find asr_mild_navigation)/param/simulation/local_costmap_params.yaml" command="load"/>        
        <rosparam file="$(find asr_mild_navigation)/param/simulation/ftc_local_planner_params.yaml" command="load"/>
</node> 

<node pkg="tf" type="static_transform_publisher" name="fake_map" args="0 0 0 0 0 0 1 map odom 100" />

</launch>
